### 1.pandas 데이터 프레임

In [1]:
import pandas as pd

#### 1. 리스트에서 데이터 프레임 생성하기

In [3]:
rowFirst = ["A01",202015, 100]
rowSecond = ["A01", 202018, 110]
rowThrid = ["A02", 202017, 130]

In [5]:
df1 = pd.DataFrame( [ rowFirst, rowSecond, rowThrid ])

In [ ]:
columnName = ["REGIONID","YEARWEEK","QTY"]

In [7]:
df1.columns = columnName

In [12]:
columnFirst = ["A01","A01","A01"]
columnSecond = [202015, 202018, 202017]
columnThird = [100, 110, 150]

In [15]:
df2 = pd.DataFrame( zip(columnFirst, columnSecond, columnThird) )

In [18]:
df2

     0       1    2
0  A01  202015  100
1  A01  202018  110
2  A01  202017  150

## 1. 라이브러리 선언

In [30]:
from bs4 import BeautifulSoup # 태그를 아름답게 뜬다
import requests # 웹페이지 접속 요청

## 2. 타켓 URL 선언 및 접속

In [225]:
targetUrl = "http://www.sparkkorea.com/퀴즈"

In [226]:
resp = requests.get(url=targetUrl)

In [227]:
if resp.status_code ==200:
    # 원하는 로지긍ㄹ 펼치고
else:
    # 다른 대체로직을 펼친다.
    resp.status_code

IndentationError: expected an indented block (<ipython-input-227-72ccdcfcf9b7>, line 3)

In [228]:
resp.encoding = "utf8"

In [229]:
html = resp.text

In [230]:
htmlObj = BeautifulSoup(html, "html.parser")

In [ ]:
htmlObj

## 3. 태그값 수집하기

In [53]:
htmlObj.findAll(name="a", limit=3)

[<a class="skip-link screen-reader-text" href="#content">컨텐츠로 건너뛰기</a>,
 <a href="https://sparkkorea.com/" rel="home">
 					스파크 코리아				</a>,
 <a href="https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/">자료실</a>]

In [58]:
#속성정보로 소스 수집

In [56]:
targetParent = htmlObj.find(name="div",attrs = {"id":"id_spark_quiz"})

In [55]:
# find -> 계속 범위를 좁혀라!!1
# findAll을 활용해서 반복해서 수집해라~!!

In [57]:
targetParent.findAll(name="a")

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [59]:
#태그 내 부분태그 소스 수집하기

In [60]:
#태그 내 속성정보 수집

In [63]:
eachTag = targetParent.find(name="a")

In [64]:
eachTag

In [65]:
#a태그에는 href라는 속성이 있고
#href 속성의값은 https://...   
#div 태그가 있고 id 라는 속성에 id_spark_quiz

In [69]:
eachTag.name

'a'

In [70]:
eachTag.text

' 6/13 Spark 심화과정 '

In [71]:
eachTag.attrs["href"]

'https://forms.gle/Fw49w9GhWQChDcZm7'

In [143]:
linkList = []

In [144]:
valueList = []

In [145]:
atags = targetParent.findAll(name="a")

In [146]:
for i in range(0, len(atags)):
    #각 태그정보 수집
    eachTag = atags[i]
    tagText = eachTag.text
    linkTag = eachTag.attrs["href"]
    # 리스트에 태그내 text 정보 append
    valueList.append(tagText)
    linkList.append(linkTag)

In [147]:
resultDf = pd.DataFrame(zip(valueList, linkList), 
                            columns=["퀴즈타이틀","링크타이틀"])

In [148]:
resultDf

                       퀴즈타이틀                                링크타이틀
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

In [160]:
atags = targetParent.findAll(name="a")

In [161]:
atags

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [162]:
eachtag = atags[0]

In [163]:
linkTag = eachtag.attrs["href"]

In [126]:
linkTag

'https://forms.gle/Gxb4y6LfVYiaLu4M7'

In [99]:
linkList.append(linkTag)

In [100]:
linkList

['https://forms.gle/Fw49w9GhWQChDcZm7']

In [164]:
rowList.append(eachTag.text)
rowList.append(eachTag.name)
rowList.append(eachtag.attrs["href"])

In [166]:
rowList.append(columnList)

NameError: name 'columnList' is not defined

In [167]:
pd.DataFrame( [ rowList ]  )

,0,1,2,3,4
0,6/27 Spark RDD 실전 분석2,a,6/27 Spark RDD 실전 분석2,a,https://forms.gle/Fw49w9GhWQChDcZm7

## 4. 테이블정보 수집하기

In [172]:
import requests, bs4
import pandas as pd

#웹페이지html 소스가져오기
resp = requests.get("https://sparkkorea.com/테스트/")
resp.encoding='utf-8'
html = resp.text
htmlObj = bs4.BeautifulSoup(html, 'html.parser')

In [175]:
tableTag = htmlObj.find(name="table", attrs={"id" :"test_table"})

In [177]:
tbodyTag = tableTag.find(name="tbody")

In [179]:
tbodyTag

<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>

In [221]:
rowList = []
columnList = []

In [222]:
trs = tbodyTag.find_all("tr")

In [223]:
for j in range(0, len(trs)):

    eachTr = trs[j]

    tds = eachTr.findAll("td")

    for i in range(0, len(tds)):

        eachTd = tds[i]

        columnList.append(eachTd.text)

        # 한 행의 수집완료된 컬럼 값을 rowList 에 붙힌다
    rowList.append(columnList)
        # 다음 행의 컬럼을 다시 담기위해 columnList 를 초기화
    columnList = []

In [224]:
pd.DataFrame(rowList)

     0    1
0  101  김효관
1  102  이순신
2  103  김어진

In [192]:
columnList

['101', '101', '101']

In [188]:
eachTd.text

'101'

In [171]:
tabletag = bs.find("table", {"id":"test_table"})

tabletag

<table class="type07" id="test_table">
<thead>
<tr>
<th scope="cols">학번</th>
<th scope="cols">이름</th>
</tr>
</thead>
<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>
</table>