### 6. 데이터 정렬하기

In [1]:
import pandas as pd

In [5]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [6]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [ ]:
selloutData.loc[(selloutData.REGIONID = 'A01') & (selloutData.YEAR  = 2015)]
selloutData.loc[0:3]